<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ubanillx.smartclass.generator.mapper.PostFavourMapper">

    <resultMap id="BaseResultMap" type="com.ubanillx.smartclass.model.PostFavour">
            <id property="id" column="id" />
            <result property="postId" column="postId" />
            <result property="userId" column="userId" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,postId,userId,createTime,updateTime
    </sql>
</mapper>
